*{
    padding: 0;
    margin: 0;
    color: hsl(0, 0%, 100%);
    font-size: 14px
};
@font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf) ;
    font-family: 400 600 700;
}
body{
    font-family: Inter;
    
    
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 8%);
    height: 100vh;
}
#card{
    background-color: hsl(0, 0%, 12%);
    width: 250px;
    max-width: 350px;
    height: auto;
    font-weight: 400;
    border-radius: 10px;
    padding: 5px 20px 20px;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}
img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.namecard{
    text-align: center;
    margin-bottom: 5px;
}
h1{
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 10px;
}
h4{
    font-weight: 600;
    color: hsl(75, 94%, 57%);
    padding-bottom: 15px;
    font-size: .9rem;
}
p{
    font-size: .9rem;
    color: hsl(0, 0%, 80%);
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
button{
    width: 250px;
    padding: 12px 16px;
    font-weight: 600;
    background-color: hsl(0, 0%, 20%);
    border: none;
    border-radius: 7px;
    margin: 0 auto;
    margin-top: 15px;
    font-size: .8rem;
}
button:hover{
    cursor: pointer;
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}
.attribution a, .attribution{
    font-size: .7rem;
    padding-top: 10px;
}
/* .container{
    max-width: 350px;
    margin: 0 auto;
    background-color: hsl(0, 0%, 12%);
    margin-top: 100px;
    text-align: center;
    font-weight: 400;
    height: auto;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
}
img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 10px auto;
}
h1{
    font-weight: 700;
    font-size: 20px;
    margin: 10px auto;
}
h4{
    font-weight: 600;
    color: hsl(75, 94%, 57%);
    padding-bottom: 8px;
}
.buttons{
    display: flex;
    flex-direction: column;
}
button{
    margin-top: 15px;
    width: 280px;
    padding: 14px 16px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    background-color:hsl(0, 0%, 20%);
    border: none;
    border-radius: 7px;
}
button:hover{
    cursor: pointer;
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}
.attribution a, a{
    color: white;
} */